html {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cabecera {
  background-color: black;
  height: 15vh;
  max-width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Tamaño máximo logo */
.cabecera img {
  max-height: 140%;
}

/* Menú nav */
nav {
  margin-top: 1vh;
  background-color: rgba(85, 107, 47, 0.514);
  width: 90vw;
  max-width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 90vw;
}

li {
  border: solid 3px white;
  padding: 25px;
  margin: auto;
  background-image: url("../img/armas.avif");
  background-size: contain;
}

li:hover {
  box-shadow: 2px 4px 6px black;
  font-style: italic;
}

li a {
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 20px;
  text-decoration: none;
}

#img_ofertas {
  width: 100px;
  background-size: cover;
  background-position: center;
}
