html {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cabecera {
  background-color: black;
  height: 15vh;
  max-width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Tamaño máximo logo */
.cabecera img {
  max-height: 140%;
}

/* Menú nav */
nav {
  margin-top: 1vh;
  background-color: #462aa496;
  width: 90vw;
  max-width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 90vw;
}

li {
  border: solid 2px white;
  padding: 25px;
  margin: auto;
  width: 10vw;
  height: 2vh;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/*Imagenes fondo nav*/

#armas {
  background-image: url("../img/armas.avif");
  background-size: cover;
}

#municion {
  background-image: url("../img/escopeta.avif");
  background-size: cover;
  background-repeat: no-repeat;
}

#ropa {
  background-image: url("../img/canana.avif");
  background-size: cover;
  background-repeat: no-repeat;
}

#ofertas {
  background-image: url("../img/OFERTAS.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/*Nav hover*/
li:hover {
  box-shadow: 2px 4px 6px black;
  text-decoration: 2px white;
  text-transform: uppercase;
}

li a {
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 20px;
  text-decoration: none;
}

#img_ofertas {
  width: 100px;
  background-size: cover;
  background-position: center;
}

/*Section*/
section {
  background-color: #3981ed;
  margin-top: 1vh;
  height: 50vh;
  max-height: 50vh;
}
